.row--top {
  display: flex;
  flex-direction: row;
}

.item--logo {
  margin-right: auto;
  align-self: center;
}
.nav-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap-reverse;
  justify-content: end;
}

.row--bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item--content {
  flex-grow: 1;
  min-width: 100px;
}
